
    
<div id="background1">
  <div id="des1">
    <h1> Aboout Us</h1>
    <p> We are a family owned bakery founded in 1994. We enjoy what we do and put the customer first. We owe all of our success over the years to this. Our desserts are always freshly baked and occassion specific. You tell us what you need and we will deliver that plus some. So next time you need some sweet treats come over to Beaute Bakery where we aim to deliver.</p>
  </div>
</div>

<div id="background2">
</div>

