<!DOCTYPE html>
<html>
<head>
    <title> Beaute Bakery</title>
    <link rel="stylesheet" href="main.css">
</head>
<body>
    <header>
     
      <img id="logo" src="bakeryLogo.png">
     
      <div id="navbar">
        <a href="#home">Home</a>
        <a href="#Cookies">Cookies</a>
        <a href="#Cakes">Cakes</a>
        <a href="#Muffins">Muffins</a>
        <a href="#Contact">Contact Us</a>
      </div>
    </header>






    </body>
</html>