<!DOCTYPE html>
<html>
<head>
    <title> Beaute Bakery</title>
    <link rel="stylesheet" href="main.css">
</head>
<body>
    <header>
     
      <img id="logo" src="bakeryLogo.png">
     
      <div id="navbar">
        <a href="/bakery">Home</a>
        <a href="/cookies">Cookies</a>
        <a href="/cakes">Cakes</a>
        <a href="/muffins">Muffins</a>
      </div>
    </header>

    <%= yield %>



    </body>
</html>