*{
    margin:0px;
    padding:0px;
}
header{
    /* background-image: url('https://i.pinimg.com/originals/78/7a/cf/787acf5230aa7ba10152882cb59df346.jpg');
    background-size: 100% 300px; 
    background-repeat: no-repeat; */
    width:100%;
    text-align: center;
}
img#logo{
    height: 300px;
    width:  400px;
}
#navbar{
    overflow: hidden;
    background-color: red;
    text-align:center;
    height:50px;
    border-color: blueviolet;
  }
  
  #navbar a {
    color: #f2f2f2;
    text-align: center;
    margin-left: 75px;
    margin-right: 75px;
    margin-top: 10px;
    display: inline-block;
    font-size: 26px;
  }