header{
    width:100%;
    text-align: center;
}
img#logo{
    height: 200px;
    width:  400px;
}
#navbar{
    overflow: hidden;
    background-color: red;
    text-align:center;
    height:50px;
    border-color: blueviolet;
  }
  
  #navbar a {
    color: #f2f2f2;
    text-align: center;
  
    margin-left: 75px;
    margin-right: 75px;
    margin-top: 10px;
    display: inline-block;
    font-size: 26px;
  }