<!DOCTYPE html>
<html>
<head>
    <title> Aunt May's Bakery</title>
    <link rel="stylesheet" href="main.css">
</head>
<body>
    <header>
      <img src="bakeryLogo.png">
    </header>













</body>
</html>